<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bundleID</key>
		<string>com.raywenderlich.GetAPet</string>
		<key>bundlePath</key>
		<string>/Users/j/Library/Developer/CoreSimulator/Devices/D3CCABA4-E7F6-492E-9B8B-415A3E916B21/data/Containers/Bundle/Application/59E21E66-C518-4379-B3D9-6F63DEF94D7A/GetAPet.app</string>
		<key>screenshots</key>
		<array>
			<dict>
				<key>frame</key>
				<string>{{139, 61.666666666666664}, {97, 20.333333333333336}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-1.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{139, 61.666666666666664}, {97, 20.333333333333336}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-2.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{139, 61.666666666666664}, {97, 20.333333333333336}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-4.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{139, 61.666666666666664}, {97, 20.333333333333336}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-6.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{139, 61.666666666666664}, {97, 20.333333333333336}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-7.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{139, 61.666666666666664}, {97, 20.333333333333336}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-9.jpeg</string>
			</dict>
		</array>
		<key>stringKey</key>
		<string>Pet Explorer</string>
		<key>tableName</key>
		<string>Localizable</string>
	</dict>
	<dict>
		<key>bundleID</key>
		<string>com.raywenderlich.GetAPet</string>
		<key>bundlePath</key>
		<string>/Users/j/Library/Developer/CoreSimulator/Devices/D3CCABA4-E7F6-492E-9B8B-415A3E916B21/data/Containers/Bundle/Application/59E21E66-C518-4379-B3D9-6F63DEF94D7A/GetAPet.app</string>
		<key>screenshots</key>
		<array>
			<dict>
				<key>frame</key>
				<string>{{16, 123.66666666666667}, {39, 20.333333333333329}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-1.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 111.66666666666667}, {375, 44.000000000000014}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-1.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{16, 123.66666666666667}, {39, 20.333333333333329}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-2.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 111.66666666666667}, {375, 44.000000000000014}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-2.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{16, 123.66666666666667}, {39, 20.333333333333329}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-4.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 111.66666666666667}, {375, 44.000000000000014}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-4.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{16, 123.66666666666667}, {39, 20.333333333333329}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-6.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 111.66666666666667}, {375, 44.000000000000014}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-6.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{16, 123.66666666666667}, {39, 20.333333333333329}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-7.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 111.66666666666667}, {375, 44.000000000000014}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-7.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{16, 123.66666666666667}, {39, 20.333333333333329}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-9.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 111.66666666666667}, {375, 44.000000000000014}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-9.jpeg</string>
			</dict>
		</array>
		<key>stringKey</key>
		<string>Birds</string>
		<key>tableName</key>
		<string>Localizable</string>
	</dict>
	<dict>
		<key>bundleID</key>
		<string>com.raywenderlich.GetAPet</string>
		<key>bundlePath</key>
		<string>/Users/j/Library/Developer/CoreSimulator/Devices/D3CCABA4-E7F6-492E-9B8B-415A3E916B21/data/Containers/Bundle/Application/59E21E66-C518-4379-B3D9-6F63DEF94D7A/GetAPet.app</string>
		<key>screenshots</key>
		<array>
			<dict>
				<key>frame</key>
				<string>{{16, 167.66666666666666}, {35, 20.333333333333343}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-1.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 155.66666666666666}, {375, 44}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-1.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{16, 167.66666666666666}, {35, 20.333333333333343}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-2.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 155.66666666666666}, {375, 44}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-2.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{16, 167.66666666666666}, {35, 20.333333333333343}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-4.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 155.66666666666666}, {375, 44}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-4.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{16, 167.66666666666666}, {35, 20.333333333333343}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-6.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 155.66666666666666}, {375, 44}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-6.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{16, 167.66666666666666}, {35, 20.333333333333343}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-7.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 155.66666666666666}, {375, 44}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-7.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{16, 167.66666666666666}, {35, 20.333333333333343}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-9.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 155.66666666666666}, {375, 44}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-9.jpeg</string>
			</dict>
		</array>
		<key>stringKey</key>
		<string>Cats</string>
		<key>tableName</key>
		<string>Localizable</string>
	</dict>
	<dict>
		<key>bundleID</key>
		<string>com.raywenderlich.GetAPet</string>
		<key>bundlePath</key>
		<string>/Users/j/Library/Developer/CoreSimulator/Devices/D3CCABA4-E7F6-492E-9B8B-415A3E916B21/data/Containers/Bundle/Application/59E21E66-C518-4379-B3D9-6F63DEF94D7A/GetAPet.app</string>
		<key>screenshots</key>
		<array>
			<dict>
				<key>frame</key>
				<string>{{16, 211.66666666666669}, {94.666666666666671, 20.333333333333343}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-1.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 199.66666666666669}, {375, 44}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-1.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{16, 521.66666666666674}, {94.666666666666671, 20.333333333333371}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-2.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 509.66666666666669}, {375, 44.000000000000057}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-2.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{16, 521.66666666666674}, {94.666666666666671, 20.333333333333371}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-4.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 509.66666666666669}, {375, 44.000000000000057}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-4.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{16, 521.66666666666674}, {94.666666666666671, 20.333333333333371}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-6.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 509.66666666666669}, {375, 44.000000000000057}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-6.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{16, 211.66666666666669}, {94.666666666666671, 20.333333333333343}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-7.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 199.66666666666669}, {375, 44}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-7.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{16, 211.66666666666669}, {94.666666666666671, 20.333333333333343}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-9.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 199.66666666666669}, {375, 44}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-9.jpeg</string>
			</dict>
		</array>
		<key>stringKey</key>
		<string>Chameleons</string>
		<key>tableName</key>
		<string>Localizable</string>
	</dict>
	<dict>
		<key>bundleID</key>
		<string>com.raywenderlich.GetAPet</string>
		<key>bundlePath</key>
		<string>/Users/j/Library/Developer/CoreSimulator/Devices/D3CCABA4-E7F6-492E-9B8B-415A3E916B21/data/Containers/Bundle/Application/59E21E66-C518-4379-B3D9-6F63DEF94D7A/GetAPet.app</string>
		<key>screenshots</key>
		<array>
			<dict>
				<key>frame</key>
				<string>{{16, 255.66666666666666}, {42, 20.333333333333343}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-1.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 243.66666666666666}, {375, 43.999999999999972}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-1.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{16, 565.66666666666674}, {42, 20.333333333333371}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-2.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 553.66666666666674}, {375, 44}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-2.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{16, 565.66666666666674}, {42, 20.333333333333371}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-4.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 553.66666666666674}, {375, 44}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-4.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{16, 565.66666666666674}, {42, 20.333333333333371}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-6.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 553.66666666666674}, {375, 44}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-6.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{16, 255.66666666666666}, {42, 20.333333333333343}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-7.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 243.66666666666666}, {375, 43.999999999999972}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-7.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{16, 255.66666666666666}, {42, 20.333333333333343}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-9.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 243.66666666666666}, {375, 43.999999999999972}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-9.jpeg</string>
			</dict>
		</array>
		<key>stringKey</key>
		<string>Cows</string>
		<key>tableName</key>
		<string>Localizable</string>
	</dict>
	<dict>
		<key>bundleID</key>
		<string>com.raywenderlich.GetAPet</string>
		<key>bundlePath</key>
		<string>/Users/j/Library/Developer/CoreSimulator/Devices/D3CCABA4-E7F6-492E-9B8B-415A3E916B21/data/Containers/Bundle/Application/59E21E66-C518-4379-B3D9-6F63DEF94D7A/GetAPet.app</string>
		<key>screenshots</key>
		<array>
			<dict>
				<key>frame</key>
				<string>{{16, 299.66666666666663}, {40, 20.333333333333314}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-1.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 287.66666666666663}, {375, 44}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-1.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{16, 609.66666666666674}, {40, 20.333333333333371}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-2.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 597.66666666666674}, {375, 44}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-2.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{16, 609.66666666666674}, {40, 20.333333333333371}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-4.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 597.66666666666674}, {375, 44}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-4.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{16, 609.66666666666674}, {40, 20.333333333333371}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-6.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 597.66666666666674}, {375, 44}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-6.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{16, 299.66666666666663}, {40, 20.333333333333314}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-7.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 287.66666666666663}, {375, 44}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-7.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{16, 299.66666666666663}, {40, 20.333333333333314}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-9.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 287.66666666666663}, {375, 44}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-9.jpeg</string>
			</dict>
		</array>
		<key>stringKey</key>
		<string>Dogs</string>
		<key>tableName</key>
		<string>Localizable</string>
	</dict>
	<dict>
		<key>bundleID</key>
		<string>com.raywenderlich.GetAPet</string>
		<key>bundlePath</key>
		<string>/Users/j/Library/Developer/CoreSimulator/Devices/D3CCABA4-E7F6-492E-9B8B-415A3E916B21/data/Containers/Bundle/Application/59E21E66-C518-4379-B3D9-6F63DEF94D7A/GetAPet.app</string>
		<key>screenshots</key>
		<array>
			<dict>
				<key>frame</key>
				<string>{{16, 343.66666666666663}, {68.333333333333329, 20.333333333333314}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-1.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 331.66666666666663}, {375, 44}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-1.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{16, 653.66666666666663}, {68.333333333333329, 20.333333333333371}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-2.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 641.66666666666663}, {375, 44}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-2.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{16, 653.66666666666663}, {68.333333333333329, 20.333333333333371}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-4.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 641.66666666666663}, {375, 44}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-4.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{16, 653.66666666666663}, {68.333333333333329, 20.333333333333371}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-6.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 641.66666666666663}, {375, 44}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-6.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{16, 343.66666666666663}, {68.333333333333329, 20.333333333333314}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-7.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 331.66666666666663}, {375, 44}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-7.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{16, 343.66666666666663}, {68.333333333333329, 20.333333333333314}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-9.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 331.66666666666663}, {375, 44}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-9.jpeg</string>
			</dict>
		</array>
		<key>stringKey</key>
		<string>Monkeys</string>
		<key>tableName</key>
		<string>Localizable</string>
	</dict>
	<dict>
		<key>bundleID</key>
		<string>com.raywenderlich.GetAPet</string>
		<key>bundlePath</key>
		<string>/Users/j/Library/Developer/CoreSimulator/Devices/D3CCABA4-E7F6-492E-9B8B-415A3E916B21/data/Containers/Bundle/Application/59E21E66-C518-4379-B3D9-6F63DEF94D7A/GetAPet.app</string>
		<key>screenshots</key>
		<array>
			<dict>
				<key>frame</key>
				<string>{{16, 387.66666666666669}, {70.333333333333329, 20.333333333333314}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-1.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 375.66666666666669}, {375, 44}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-1.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{16, 697.66666666666663}, {70.333333333333329, 20.333333333333371}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-2.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 685.66666666666663}, {375, 44}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-2.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{16, 697.66666666666663}, {70.333333333333329, 20.333333333333371}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-4.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 685.66666666666663}, {375, 44}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-4.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{16, 697.66666666666663}, {70.333333333333329, 20.333333333333371}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-6.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 685.66666666666663}, {375, 44}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-6.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{16, 387.66666666666669}, {70.333333333333329, 20.333333333333314}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-7.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 375.66666666666669}, {375, 44}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-7.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{16, 387.66666666666669}, {70.333333333333329, 20.333333333333314}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-9.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 375.66666666666669}, {375, 44}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-9.jpeg</string>
			</dict>
		</array>
		<key>stringKey</key>
		<string>Penguins</string>
		<key>tableName</key>
		<string>Localizable</string>
	</dict>
	<dict>
		<key>bundleID</key>
		<string>com.raywenderlich.GetAPet</string>
		<key>bundlePath</key>
		<string>/Users/j/Library/Developer/CoreSimulator/Devices/D3CCABA4-E7F6-492E-9B8B-415A3E916B21/data/Containers/Bundle/Application/59E21E66-C518-4379-B3D9-6F63DEF94D7A/GetAPet.app</string>
		<key>screenshots</key>
		<array>
			<dict>
				<key>frame</key>
				<string>{{15.999999999999996, 431.66666666666669}, {32.666666666666657, 20.333333333333314}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-1.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 419.66666666666669}, {375, 44}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-1.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{15.999999999999996, 741.66666666666663}, {32.666666666666657, 20.333333333333371}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-2.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 729.66666666666663}, {375, 44}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-2.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{15.999999999999996, 741.66666666666663}, {32.666666666666657, 20.333333333333371}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-4.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 729.66666666666663}, {375, 44}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-4.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{15.999999999999996, 741.66666666666663}, {32.666666666666657, 20.333333333333371}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-6.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 729.66666666666663}, {375, 44}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-6.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{15.999999999999996, 431.66666666666669}, {32.666666666666657, 20.333333333333314}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-7.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 419.66666666666669}, {375, 44}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-7.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{15.999999999999996, 431.66666666666669}, {32.666666666666657, 20.333333333333314}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-9.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 419.66666666666669}, {375, 44}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-9.jpeg</string>
			</dict>
		</array>
		<key>stringKey</key>
		<string>Pigs</string>
		<key>tableName</key>
		<string>Localizable</string>
	</dict>
	<dict>
		<key>bundleID</key>
		<string>com.raywenderlich.GetAPet</string>
		<key>bundlePath</key>
		<string>/Users/j/Library/Developer/CoreSimulator/Devices/D3CCABA4-E7F6-492E-9B8B-415A3E916B21/data/Containers/Bundle/Application/59E21E66-C518-4379-B3D9-6F63DEF94D7A/GetAPet.app</string>
		<key>screenshots</key>
		<array>
			<dict>
				<key>frame</key>
				<string>{{16, 475.66666666666669}, {34, 20.333333333333314}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-1.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 463.66666666666669}, {375, 44}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-1.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{16, 785.66666666666663}, {34, 20.333333333333371}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-2.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 773.66666666666663}, {375, 38.333333333333371}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-2.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{16, 785.66666666666663}, {34, 20.333333333333371}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-4.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 773.66666666666663}, {375, 38.333333333333371}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-4.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{16, 785.66666666666663}, {34, 20.333333333333371}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-6.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 773.66666666666663}, {375, 38.333333333333371}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-6.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{16, 475.66666666666669}, {34, 20.333333333333314}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-7.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 463.66666666666669}, {375, 44}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-7.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{16, 475.66666666666669}, {34, 20.333333333333314}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-9.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 463.66666666666669}, {375, 44}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-9.jpeg</string>
			</dict>
		</array>
		<key>stringKey</key>
		<string>Rats</string>
		<key>tableName</key>
		<string>Localizable</string>
	</dict>
	<dict>
		<key>bundleID</key>
		<string>com.raywenderlich.GetAPet</string>
		<key>bundlePath</key>
		<string>/Users/j/Library/Developer/CoreSimulator/Devices/D3CCABA4-E7F6-492E-9B8B-415A3E916B21/data/Containers/Bundle/Application/59E21E66-C518-4379-B3D9-6F63DEF94D7A/GetAPet.app</string>
		<key>screenshots</key>
		<array>
			<dict>
				<key>frame</key>
				<string>{{16, 519.66666666666674}, {55, 20.333333333333371}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-1.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 507.66666666666669}, {375, 44.000000000000057}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-1.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{16, 519.66666666666674}, {55, 20.333333333333371}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-7.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 507.66666666666669}, {375, 44.000000000000057}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-7.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{16, 519.66666666666674}, {55, 20.333333333333371}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-9.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 507.66666666666669}, {375, 44.000000000000057}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-9.jpeg</string>
			</dict>
		</array>
		<key>stringKey</key>
		<string>Snakes</string>
		<key>tableName</key>
		<string>Localizable</string>
	</dict>
	<dict>
		<key>bundleID</key>
		<string>com.raywenderlich.GetAPet</string>
		<key>bundlePath</key>
		<string>/Users/j/Library/Developer/CoreSimulator/Devices/D3CCABA4-E7F6-492E-9B8B-415A3E916B21/data/Containers/Bundle/Application/59E21E66-C518-4379-B3D9-6F63DEF94D7A/GetAPet.app</string>
		<key>screenshots</key>
		<array>
			<dict>
				<key>frame</key>
				<string>{{16, 563.66666666666674}, {67.333333333333329, 20.333333333333371}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-1.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 551.66666666666674}, {375, 44}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-1.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{16, 563.66666666666674}, {67.333333333333329, 20.333333333333371}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-7.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 551.66666666666674}, {375, 44}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-7.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{16, 563.66666666666674}, {67.333333333333329, 20.333333333333371}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-9.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{0, 551.66666666666674}, {375, 44}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-9.jpeg</string>
			</dict>
		</array>
		<key>stringKey</key>
		<string>Squirrels</string>
		<key>tableName</key>
		<string>Localizable</string>
	</dict>
	<dict>
		<key>bundleID</key>
		<string>com.raywenderlich.GetAPet</string>
		<key>bundlePath</key>
		<string>/Users/j/Library/Developer/CoreSimulator/Devices/D3CCABA4-E7F6-492E-9B8B-415A3E916B21/data/Containers/Bundle/Application/59E21E66-C518-4379-B3D9-6F63DEF94D7A/GetAPet.app</string>
		<key>screenshots</key>
		<array>
			<dict>
				<key>frame</key>
				<string>{{166.66666666666666, 556.66666666666663}, {42, 18}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-3.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{166.66666666666666, 550.66666666666663}, {42, 30}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-3.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{166.66666666666666, 556.66666666666663}, {42, 18}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-5.jpeg</string>
			</dict>
			<dict>
				<key>frame</key>
				<string>{{166.66666666666666, 550.66666666666663}, {42, 30}}</string>
				<key>name</key>
				<string>GetAPetUITests-iPhone 12 mini-en-5.jpeg</string>
			</dict>
		</array>
		<key>stringKey</key>
		<string>dI7-PE-hkI.normalTitle</string>
		<key>tableName</key>
		<string>Main</string>
	</dict>
</array>
</plist>
